body {
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #404040;
	background-color: #fff;
	min-width: 1035px;
}
.header-page {
	background: url(img/wheat-back.jpg) no-repeat;
	background-position: bottom;
	background-size: cover;
}
.container {
	width: 800px;
	margin: 0 auto;
}
.top {
	display: flex;
	margin-bottom: 120px;
	align-items: center;
	padding-top: 60px;
	justify-content: space-between;
}
.logo {
	width: 140px;
	height: 75px;
}
.main-nav {
	margin: 0;
	display: flex;
	list-style: none;
	padding: 13px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	align-items: center;
}
.main-nav li {
	margin: 0 55px 0 0;
	padding: 0;
}
.main-nav li:last-child {
	margin-right: 0px;
}
.main-nav a {
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	padding: 0 0 20px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-nav a:hover {
	color: #ffcb78;
	border-color: #fff;
	transition: color 0.3s linear, border-color 0.3s linear;
}
.main-nav a:active {
	color: rgba(255, 203, 120, 0.3);
	border-color: #fff;
}
.header-title {
	font-size: 70px;
	line-height: 70px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 0 0 155px 0;
	margin: 0;
}
.header-title p {
	margin: 0;
	padding: 0;
}
.news {
	padding: 0;
	margin: 80px 0 110px 0;
}
.title {
	margin: 0;
	padding: 0;
	font-size: 40px;
	line-height: 61px;
	text-transform: uppercase;
	color: #000;
}
.news__title {
	margin-bottom: 65px;
}
.news__items {
	display: flex;
	align-items: center;
	justify-content: center;
}
.news__item {
	max-width: 340px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px 30px 0 30px;
}
.news__item:first-child {
	border-right: none;
	margin-right: -1px;
}
.news__item__title {
	margin: 0 0 30px 0;
	padding-left: 5px;
}
.news__item__characteristic {
	display: flex;
	align-items: top;
	padding: 0 0 0 10px;
}
.news__item__image {
	padding: 0 0 0 4px;
	margin: 0;
	width: 320px;
	height: 460px;
}
.news__item__info {
	margin-left: -140px;
	margin-top: -10px;
	z-index: 1;
	max-width: 150px;
}
.news__item__table {
	border-collapse: collapse;
	margin-bottom: 8px;
}
.news__item__table td {
	font-size: 16px;
	line-height: 41px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	border: 1px solid rgb(229, 229, 229);
	width: 75px;
	padding-left: 10px;
}
.news__item__info p {
	font-size: 14px;
	line-height: 24px;
	color: #404040;
	padding: 0;
	margin: 0;
	width: 150px;
}
.news__item__description {
	margin: 6px 0 60px 5px;
}
.news__item__description p {
	padding: 0;
	margin: 0;
}
.news__item__more {
	padding: 0;
	margin: 0 0 0 5px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.item__link {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #834700;
	padding: 12px 20px;
}
.news__item__link_more {
	color: #834700;
	background-color: #fff;
	margin-right: 8px;
}
.news__item__link_more:hover {
	color: #6a3900;
	border-color: #6a3900;
	transition: color 0.3s linear, border-color 0.3s linear;
}
.news__item__link_more:active {
	color: rgba(131, 71, 0, 0.3);
	border-color: rgba(131, 71, 0, 0.3);
}
.news__item__link_buy {
	color: #fff;
	background-color: #834700;
	margin-right: 26px;
}
.news__item__link_buy:hover {
	background-color: #6a3900;
	border-color: #6a3900;
	transition: background-color 0.3s linear, border-color 0.3s linear;
}
.news__item__link_buy:active {
	background-color: #6a3900;
	border-color: #6a3900;
	color: rgba(255, 255, 255, 0.3);
}

.news__item__price {
}
.advantages {
	margin-bottom: 80px;
	background-color: #ffcb78;
	padding-top: 80px;
	padding-bottom: 90px;
}
.advantages__container {
	width: 1015px;
	margin: 0 auto;
}

.advantages__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.list_title {
	font-size: 20px;
	line-height: 30px;
	color: #000;
	text-transform: uppercase;
	margin: 0 0 20px 0;
	padding: 0;
	font-weight: bold;
}
.advantades__item {
	position: relative;
	width: 215px;
	padding: 0;
	margin: 0;
	border-left: 1px solid #e5b66c;
	padding-top: 103px;
	padding-left: 95px;
}
.advantades__item:first-child {
	border-left-color: transparent;
	padding-left: 0;
}
.advantades__item::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 75px;
	background-image: url("img/icons.png");
	background-repeat: no-repeat;
}
.advantages__one::before {
	background-position: -6px 0px;
}
.advantages__two::before {
	background-position: -6px -80px;
	left: 100px;
}
.advantages__three::before {
	background-position: -6px -157px;
	left: 100px;
}
.advantages__list p {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 30px;
	color: #404040;
}
.history {
	margin-bottom: 82px;
}
.history__items {
	padding: 0;
	margin: 0;
}
.history_title {
	margin-bottom: 60px;
}
.theory__title {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.history__source {
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
	text-transform: none;
	color: #404040;
	font-style: italic;
}
.history__source a {
	color: #976a42;
}
.history__source a:hover {
	color: #774e26;
	transition: color 0.3s linear;
}
.history__source a:active {
	color: #d9ccbd;
}
.history__items dd {
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
}
.history__container:first-child {
	margin-bottom: 57px;
}
.history__container p {
	margin: 0;
	padding: 0;
	width: 490px;
	margin-right: 115px;
}
.history__container img {
	width: 200px;
	height: 100px;
}
.history__title {
}
.history__source {
}
.press {
	background-color: #ede5d8;
	padding: 80px 0 90px 0;
	margin-bottom: 90px;
}
.press__title {
	margin-bottom: 76px;
}
.press__info {
	margin: 0;
	padding: 0;
}
.press__text {
	position: relative;
	margin: 0;
	padding: 0;
	width: 690px;
	color: #404040;
	margin-bottom: 35px;
	letter-spacing: normal;
}
.press__text:before {
	content: "";
	position: absolute;
	top: 5px;
	left: -105px;
	width: 50px;
	height: 70px;
	background: url(img/quotes.png) no-repeat;
}
.press__info__more {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.press__source {
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	font-style: inherit;
}
.press__link {
	color: rgba(0, 0, 0, 0.3);
	border-color: #a6a097;
}
.press__link:hover {
	color: #fff;
	border-color: #a5a097;
	background-color: #a5a097;
	transition: color 0.3s linear, border-color 0.3s linear, background-color 0.3s linear;
}
.press__link:active {
	color: rgba(255, 255, 255, 0.3);
	border-color: #8f8a81;
	background-color: #8f8a81;
}
.assortment__container {
	margin-bottom: 90px;
}
.assortment__title {
	margin-bottom: 75px;
}
.assortment__table {
	width: 100%;
	border-collapse: collapse;
	line-height: 65px;
}
.assortment__table th {
	font-size: 11px;
	line-height: 30px;
	color: #999999;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 30px;
}
.assortment__table th:last-child {
	text-align: right;
}
.assortment__table td {
	border-bottom: 1px solid #e5e5e5;
	margin: 0;
	padding: 0;
}
.assortment__table__name {
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	width: 402px;
	align-items: center;
}
.assortment__table__alcohol {
	width: 90px;
}
.assortment__table__ccal {
	width: 65px;
}
.assortment__table__volume {
	width: 70px;
}
.assortment__table__ccal {
}
.assortment__table__volume {
	text-transform: uppercase;
}
.assortment__table__price {
	text-align: right;
}
.assortment__table sup {
	font-size: 8px;
	line-height: 30px;
	color: #fff;
	background-color: #000;
	padding: 1px 5px;
	border-radius: 3px;
	margin-left: 22px;
}
.form {
	background-color: #ffcb78;
}
.form__container {
	padding-top: 80px;
	padding-bottom: 110px;
}
.form__title {
	margin-bottom: 75px;
}
.form__tip {
	margin: 0;
	padding: 0;
	width: 650px;
	margin-bottom: 65px;
}
.order-form {
	width: 630px;
}
.order-form label {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}
.order-form-group {
	margin-bottom: 25px;
}

.order-form-contacts {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.phone-number,
.extra-phone-number {
	width: 290px;
}
.order-form input[type="text"],
.order-form select,
.order-form textarea {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 10px 20px;
	background-color: #e5b66c;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	border: 1px solid #e5b66c;
}
.order-form input[type="text"]:hover,
.order-form select:hover,
.order-form textarea:hover {
	background-color: #d9ad66;
	border-color: #d9ad66;
	transition: background-color 0.3s linear, border-color 0.3s linear;
}
.order-form input[type="text"]:focus,
.order-form select:focus,
.order-form textarea:focus {
	background-color: #fff;
	border-color: #fff;
}
.order-form textarea {
	display: block;
	min-height: 120px;
	color: rgba(0, 0, 0, 0.3);
}
.checkbox-area {
	margin-bottom: 35px;
	padding-top: 5px;
}
.checkbox-area input[type="checkbox"] {
	margin: 0 20px 0 0px;
}
.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.custom-checkbox + label {
	display: inline-flex;
	align-items: flex-end;
	user-select: none;
}
.custom-checkbox + label::before {
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	flex-grow: 0;
	background-color: #e5b66c;
	margin-right: 15px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
	background-image: url("img/PNGVectorSmartObject.png");
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
	border-color: #834700;
	transition: border-color 0.3s linear;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
	background-color: #834700;
	border-color: #834700;
	transition: background-color 0.3s linear, border-color 0.3s linear;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
	box-shadow: 0 0 0 0.2rem #834700;
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
	border-color: #834700;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
	background-color: #e9ecef;
}
.order-form-btn {
	background-color: #834700;
	color: #fff;
	width: 200px;
}
.order-form-btn:hover {
	background-color: #6a3900;
	border-color: #6a3900;
	transition: background-color 0.3s linear, border-color 0.3s linear;
}
.order-form-btn:active {
	background-color: #6a3900;
	border-color: #6a3900;
	color: rgba(255, 255, 255, 0.3);
}
.footer {
	background-color: #000;
	padding-top: 60px;
	padding-bottom: 65px;
}
.footer__container {
	width: 1015px;
	margin: 0 auto;
}
.footer__top {
	display: flex;
	align-items: center;
	margin-bottom: 46px;
}
.footer__logo {
	margin-left: 37px;
	margin-right: 130px;
}
.footer__bottom {
	display: flex;
	align-items: center;
}
.footer__social {
	font-size: 0;
	margin-right: 95px;
	background-color: #1b1b1b;
}
.social__btn {
	display: inline-block;
	border: 1px solid #322d24;
	width: 70px;
	height: 68px;
	vertical-align: middle;
	background: url("img/social.png") no-repeat;
}
.social__btn:nth-child(2) {
	border-left-color: transparent;
	border-right-color: transparent;
}
.social__btn_in {
	background-position: -11px -220px;
}
.social__btn_fb {
	background-position: -9px -125px;
}
.social__btn_vk {
	background-position: -15px -312px;
}
.social__btn:hover {
	border-color: #ffcb78;
	transition: border-color 0.3s linear;
}
.social__btn:active {
	opacity: 0.5;
}
.footer__bottom p {
	font-size: 14px;
	line-height: 20px;
	color: #989898;
	width: 210px;
	margin: 0;
	padding: 0;
	margin-right: 190px;
}
.footer__copyright {
	display: flex;
	align-items: center;
}

.footer__copyright__html {
	font-size: 0;
	background-color: #1b1b1b;
	width: 70px;
}
.social__btn_html {
	background-position: -20px -20px;
}
.footer__copyright b {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #989898;
	width: 210px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.footer__copyright_link {
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	color: #989898;
	width: 210px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	vertical-align: middle;
}
.footer__copyright__developer {
	margin-left: 30px;
}
